{% extends "django_mesh/base.html" %}

{% block content %}

<div class="media_list">
{% if media_list %}

    {% for media in media_list %}
        <div>
            <a href="{% url 'mesh_media_view' slug=media.slug %}">{{ media.title|safe }}</a>
            <div class="container2">

            <p> <embed src="{{ media.file_url }}" autoplay="false" height="{{ media.thumbnail_height }}" width="{{ media.thumbnail_width }}">
            </p>
        </div></div>
    {% endfor %}

{% else %}
    There are no files to display.
{% endif %}
</div>

{% endblock content %}