{% extends "django_mesh/base.html" %}
{% load webdesign %} 
{% block content %}

<div class="tag_list">
{% if tag_list %}

    {% for tag in tag_list %}
        <div>
            <a href="{% url 'mesh_tag_view' slug=tag.slug %}">{{ tag.title }}</a>
            <div class="container2">
            <p class="summary">{{ tag.rendered_text }}
            {% lorem 5 w random %}</p>
        </div></div>
    {% endfor %}

{% else %}
    There are no tags to display.
{% endif %}
</div>

{% endblock content %}